body {
    text-align: center;
    font-size: 20px;
    padding: 2.5%;
    font-family: 'Lato', sans-serif;
    background: rgb(94,7,44);
background: linear-gradient(90deg, rgba(94,7,44,0.4181022750897234) 0%, rgba(145,49,49,0.14359247116815477) 48%, rgba(0,198,255,1) 100%);
}

.profile {
    height: 250px;
    border-radius: 25px;
}

.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s;
}

.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
}

@keyframes fade-out {
    from {
        opacity: 100;
    }
     
    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    from {opacity: 0;}

    to {opacity: 100;}
}